@charset "utf-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div{ margin:0; padding:0; }
fieldset, img { border:none; }
address, caption, code, th, em, i, b, strong{ font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
a { color:#666; text-decoration:none; }

/*头部*/
header{
    width: 1000px;
    height:126px ;
    margin: 0 auto;
   
}
header .logo{
    width: 150px;
    margin-top:33px;
    float: left;
}
header nav{
    width: 645px;
    height: 53px;
    margin-top: 49px;
   /* border: 1px solid black;*/
    float: left;
}
header nav ul{
    display: flex;
     position: relative;
}
header nav ul li{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
}
header nav ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6bc7e8;
    font-size: 14px;
}
header nav ul li:nth-child(1){
    border-right:1px solid #6bc7e8; 
}
header nav ul li:nth-child(2){
    border-right:1px solid #6bc7e8; 
}

header nav ul li:nth-child(2) .box{
    width: 150px;
    height: 150px;
  
    position: absolute;
    left: 200px;
    top:56px;
    display: none;
    
  
}
header nav ul li:nth-child(2):hover .box{
 
    display:block;
}
header nav ul li:nth-child(2) .box div{
 width: 90px;
    height: 30px;
    
}


header .left{
    width: 205px;
    height: 94px;
   /* border: 1px solid black;*/
    float: right;
    margin-top: 24px;
}
header .left ul:nth-child(1){
    float: right;
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 20px;

}
header .left ul:nth-child(2){
    width: 125px;
    height: 20px;
    float: right;
    
    display: flex;
    justify-content: space-between;
}

header .left ul:nth-child(2) img{
    height: 16px;
}
header .left ul li{
    font-size: 14px;
    color: #6bc7e8;
}
header .left p{
    float: right;
    margin-top: 10px;
    padding-left: 15px;
    width: 110px;
    height: 20px;
    font-size: 12px;
    color:#6bc7e8;
    background: url("/static/images/phone_icon.png") no-repeat;
    background-size: 18px;
}
header .left form input{
    width: 105px;
    height: 20px;
    float: right;
   
    background: url("/static/images/search_icon.png") no-repeat;
    background-size: 20px 20px;
    
    border: none;
    border: 1px solid #6bc7e8;
  
}
