
$likered : #ff666b;


*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    color: #9e9e9e;
}

//banner
.banner{
    width: 100%;
    ul{
        li{
            a{
                display: block;
                height: 400px;
                background: url(/img/banner/179c7377982af.jpg) no-repeat center;
            }
        }
    }
}

.content{
    background: #f5f5f5;
    text-align: center;
    min-height: 500px;
    overflow: hidden;
    //webintro
    .webintro{
        text-align: center;
        padding-top: 35px;
    }
    //60秒闪购
    .buy60s{
        margin: 0 auto 30px;
        width: 1180px;
        .buy60s-head{
            height: 50px;
            padding: 10px 0;
            background: url(/img/pc/60s-hd2.png) no-repeat left;
            .timedown{
                float: right;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                color: #333;
                .sec{
                    em{
                        vertical-align: -10px;
                        display: inline-block;
                        width: 20px;
                        height: 36px;
                        background: url(/img/pc/num-8.png) -0px 6px no-repeat;                    
                    }                    
                }
            }
        }
        //.buy60s-list
        .buy60s-list{
            .buy60s-box{
                height: 440px;
                // background: pink;
                ul{
                    display: flex;
                    font-size: 14px;
                    flex-direction: row;
                    justify-content: space-between;
                    li{ 
                        height: 440px;
                        width: 380px;
                        background: #fff;
                        a{
                            display: block;
                            position: relative;
                            .title{                              
                                line-height: 24px;
                                overflow: hidden;
                                height: 48px;
                                left: 0;
                                top: 290px;
                                padding: 0 30px;
                                text-align: left;
                                .tag{
                                    margin-right: 10px;
                                    padding: 2px 10px;
                                    border: 1px solid #ff666b;
                                    border-radius: 3px;
                                    font-size: 12px;
                                    color: #ff666b;
                                    background-color: #fff;

                                }
                            }
                            .now,.old{
                                width: 200px;
                                left: 30px;
                                margin-left:30px;                                                          
                            }
                            .now{
                                top: 345px;
                                color: #ff666b;
                                font-size: 26px;
                                font-weight: 700;
                                font-family: arial;
                            }
                            .old{
                                // padding: 0 30px;
                                // text-align: left;
                                top: 380px;
                                color: #666;
                                text-decoration: line-through; 
                            }
                            .btn{
                                background: $likered;
                                color: #fff;                            
                                display: block;
                                font-size: 14px;
                                position: absolute;
                                right: 30px;
                                bottom: 20px;
                                border: none;
                                width: 110px;
                                text-align: center;
                                height: 36px;
                                line-height: 36px;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    //wrapper
    .wrapper{
        width: 1180px;
        //margin: 0 auto;
        margin: 10px auto 80px;
        overflow: hidden;
        .hot,.series-list,.brands{
            width: 100%;
            overflow: hidden;
            margin-bottom: 30px; 
            h2{
                text-align: left;
                height: 45px;
                line-height: 45px;
                margin-bottom: 15px; 
                strong{
                    color: #34495e;
                    font-size: 28px;
                }
                span{
                    margin-left: 20px;
                    font-size: 16px;
                }
            }
        }
        .hot{
            .hot-content{
                overflow: hidden;
                ul{
                    width: 1200px;
                    overflow: hidden;
                    li{
                        float: left;
                        margin: 20px 20px 0 0;
                        position: relative;
                        a{
                            img{
                                display: block;
                                border: 0;
                                width: 580px;
                            }
                        }
                        .cle{
                            line-height: 30px;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            padding: 0 20px;
                            //background: red;
                            em{
                                color: $likered;
                            }
                            i{
                                color: $likered;                                
                            }
                        }
                    }
                }
            }
        }
        .series-list{
            .series-title{
                text-align: left;
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px; 
                color: #34495e;
                a{
                    color: #34495e;
                    margin-right: 10px;
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                        color: $likered;
                    }
                }
                strong{
                    font-size: 18px;
                }
                span{
                    font-size: 14px;   
                }
            }
            .series{
                ul{
                    width: 1200px;
                    li{
                        float: left;
                        width: 280px;
                        height: 390px;
                        background: #fff;
                        margin: 20px 20px 0 0;
                        a{
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            .title-box{
                                text-align: left;
                                height: 110px;
                                position: absolute;
                                bottom: 0;
                                border-top:1px solid #f0f0f0;
                                .title{
                                    color: #34495e;
                                    font-size: 14px;
                                    height: 48px;
                                    line-height: 24px;
                                    overflow: hidden;
                                    margin: 6px 10px 16px;
                                }
                                .cle{
                                    margin: 0 10px;
                                    span{
                                        &:nth-child(1){
                                            color: #ff666b;
                                            font-size: 16px;
                                        }
                                        &:nth-child(2){
                                            float: right;
                                            color: #9e9e9e;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .brands{
            overflow: hidden;
            margin-bottom: 0;
            .bra-fl,.bra-fr{
                width: 190px;
                height: 480px;
                background: pink;}
            .bra-fl{
                float: left;                
            }
            .bra-fr{
                float: right;
            }
            .bra-list{
                float: left;
                    width: 800px;
                    //height: 400px;
                ul{
                    li{
                        float: left;
                        border-bottom: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        a{
                            width: 200px;
                            height: 80px;
                            img{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-search{
    width: 100%;
    height: 280px;
    background: url(/img/pc/index-footer-search-bg.jpg) no-repeat center;
    .sbox{
        height: 280px;
        width: 504px;
        padding-top:20px;
        box-sizing: border-box;
        margin: 0 auto;
        h5{
            text-align: center;
            color: #eee;
            font-size: 14px;
        } 
        .sform{
            height: 28px;
            border: 1px solid #666;
            border-radius: 15px;
            overflow: hidden;
            margin-top: 15px;
            .key{
                float: left;
                margin: 4px 10px 0;
                width: 430px;
                height: 20px;
                line-height: 20px;
                color: #bbb;
                outline: 0;
                border: none;
                background: 0 0
            }
            .submit{
                float: right;
                background: 0 0;
                border: none;
                width: 40px;
                height: 30px;
                cursor: pointer;
                font-size: 14px;
                color: #eee;                
            }            
        }
        .footer_search_hot{
            margin-top: 10px;
            text-align: center;
            ul{
                overflow: hidden;
                li{
                    float: left;
                    margin: 10px 0;                        
                    margin-right: 8px;                    
                    &:nth-child(even){
                        a{
                            color: #ff666b;
                        }
                    }
                    a:hover{
                        text-decoration: underline;
                        color: #ff666b;
                    }
                }
   
            }
        }
        .intro_link{
            a{
                display: block;
                float: left;
                width: 144px;
                height: 120px;
                &:nth-child(1){
                    margin: 0 34px;
                }
            }
        } 
    }
}

