.h_head,.h_bigad,.h_xilie,.h_peisong,.h_footer{box-sizing:border-box; margin:0px  auto; width:996px;}
.h_bigad,.h_xilie,.h_peisong{overflow:hidden;}
.h_xilie,.h_peisong,.h_footer{clear:both;}
.h_head{background: #FFF; height:115px;font-family: "微软雅黑"; margin-bottom:10px;}
.h_head h1{ float:left; margin-top:33px;}
.h_head .head_right{float:right;color:#6bc4df;margin: 35px 0px 0px; width:620px;}
.h_head .head_right .h_login { width:500px; float:right;text-align: right;height: 25px;line-height: 25px;margin: 0px 0px 10px 0px;display:inline-block;}
.h_head .head_right .h_login a {color:#6bc4df;}
.h_head .head_right .h_login span{float:right;display:inline-block; width:22px;vertical-align: middle;margin-top: 8px;margin-left: 20px;}
.h_head .head_right .h_login label{float:right;padding-right:6px;}
.h_head .head_right .h_login span a{margin-top:-5px;float:left;display: inline-block; position:relative; width:18px; height:18px; background: url(../images/bj_2.png) no-repeat 0px -19px;}
.h_head .head_right .h_login .qqq{float:right;width:60px;height:22px; overflow:hidden;text-align: right;table-layout:fixed; word-break: break-all;margin-right:5px;}
.h_head .head_right .h_login .aaa span{ float:right;margin: 0;line-height: 10px;}
.h_head .head_right .h_login span.mes a{ display:inline-block;background-position:0px -39px; margin-top: -4px;}

.h_head .head_right .baner a{color:#6bc4df;padding: 0 25px;float:left;}
.h_head .head_right .baner{height: 25px;float:right;text-align: right;padding-right:25px;line-height: 34px;}
.h_navserch{border: 1px solid #6bc4df;background:#FFF;position: relative;height: 24px;width: 180px;float: right;}
.h_navserch input{height:24px;line-height: 25px;color:#ccc;width: 128px;border: medium none;background:#fff;margin: 0px;position: absolute;top: 0px;left: 0px;}
.h_navserch a{width: 19px;height: 18px;background: url(../images/bj_2.png) repeat scroll 0px 0;position: absolute;top: 3px;right: 2px;}
.h_head .head_right .h_login span.car:hover b {-webkit-animation:c pulsating 2.0s 1 ease 0.2s;animation: pulsating 2.0s 1 ease 0.2s;}
.h_head .head_right .h_login span.car b {font-size: 10px;/*position: absolute;left: 11px;top: -11px;*/width: 13px;height: 13px;line-height: 13px;text-align: center;color: #FFF;background:#6bc4df;font-weight: normal; border-radius:50%;box-sizing: border-box;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.h_head .head_right .h_login span.car b {line-height:14px;}
} 
/*--头部地址选择--*/
.h_hadd{ text-align: center;z-index: 9999;position: absolute;left: 80%;background:#FFF;top: 200px;padding: 10px 0 30px 0; width:465px; border:1px solid #d6d5d5;clear:both; }
.h_hadd h3{cursor: pointer;background: url(../images/1.png) 98% no-repeat ; width:100%;height: 22px;text-align: right;}
.h_hadd p {font-size: 16px;padding: 5px 10px 0 10px;line-height: 25px;height: 25px;padding-left:15px;}
.h_hadd p.line{padding: 5px 0 20px 0;margin: 0 20px; border-bottom: 1px solid #D6D5D5;padding-bottom: 10px;}
.h_hadd .h_cart{height: 55px;padding: 15px 16px;}
.h_hadd .h_cart span{letter-spacing: 0.05em;font-weight: bold;width: 100%;display: inline-block;text-align: center;margin: 0 0 15px;font-size: 18px;}
.h_hadd .h_cart a{ font-size: 16px;margin: 0px 10px;display: inline-block;width:127px; height:35px;line-height:35px; color:#fff;background:#6bc4df;margin: 0 10px;text-align:center;}
.h_hadd .h_cart a:hover{ text-decoration:none;}
.h_dizhi{/*z-index: 3;*/background: #FFF;margin:67px 0 0 20px;color:#999;float:left;height:35px;  position:relative;/*z-index: 99999;*/}
.h_dizhi .h_dz {height:35px;float:left;}
.h_dizhi .h_dz span{display: inline-block;float:left;height: 33px;line-height: 36px; }
.h_dizhi .h_dz .dz_lo{ text-align:center;font-size: 15px;font-weight: bold;color:#6bc4df;}
.h_dizhi .h_dz .dz_lo i{ margin-right:5px;vertical-align: middle;display:inline-block;width:14px; height:19px;background: url(../images/bj_1.png) -36px -26px;}
.h_dizhi .h_dz span.dz_xz{width:90px; text-align:center;cursor: pointer }
.h_dizhi .h_dz span.dz_xz a{ color:#626262;}
.h_dizhi .h_dz span.dz_xz a:hover{ text-decoration:none;}
.h_dizhi .h_dz span.dz_xz i{display: inline-block;width: 0px;height: 0px;overflow: hidden;margin: -2px 6px;border-width: 4px;border-style: solid;border-color: #6bc4df #fff #fff;  }
.h_dizhi .h_dzxz{display:none;box-shadow: 0px 0 4px rgba(200, 200, 200, 0.4);background:#fff;float:left; width:600px; padding:20px;position:absolute; left:0; top:42px;}
.h_dizhi .h_dzxzasd{display:none;box-shadow: 0px 0 4px rgba(200, 200, 200, 0.4);background:#fff;float:left; width:600px; padding:20px;position:absolute; left:0; top:42px;}
.h_dzhead{ height:30px; line-height: 30px;}
.h_dzhead { font-size:16px;color:#999;font-weight: bold;}
.h_dzhead span{ float:right;background: url(../images/bj_1.png) repeat scroll -35px -69px; width:15px; height:14px;cursor:pointer; }
.h_rmdz .h_dzok:hover{ text-decoration:none;}
.h_rmdz{ color:#6bc4df; clear:both;}
.h_rmdz span{ float:left;}
.h_rmdz div{ height:25px;clear:both;padding:5px 0;}
.h_rmdz div a{ float:left; padding: 0 5px;color:#6bc4df;text-align: center; }
.h_rmdz div a font{ color:#6bc4df;}
.h_rmdz div span.h_city{ color:#999; margin-right:12px;height: 24px;line-height: 24px;}
.h_rmdz input{color:#ccc; float:left; height:22px; line-height:22px; width:150px; border:1px solid #d6d5d5;padding-left: 5px; }
.h_rmdz input.h_dzok{ width:50px;line-height:23px;height:24px;background:#6bc4df; color:#fff;border-color:#6bc4df;padding:0px;cursor:pointer;border:none;}
.h_dzcontent{ margin:15px 0 20px; background:#ededed;padding: 15px 20px 40px;}
.h_dzll{ width:580px;clear: both;}
.h_dzll .h_dztit{ float:left;width:90px; color:#6bc4df;line-height: 25px;}
.h_dzll .h_dzlist{  width:460px;color:#fff;float:left;}
.h_dzll .h_dzlist a{white-space:nowrap;float:left; padding:0 10px;float:left; color: #999;line-height: 25px; }
.h_dzll .h_dzlist a:hover{background: #6bc4df; color:#fff;text-decoration: none;}
.h_dzll .h_dzlist img{top:-3px;position:relative;right:0px; border:0;}
.h_zdclose span{ width:180px; height:35px; text-align:center; margin:0 auto; background:#6bc4df; color:#fff;display: block;line-height: 35px;cursor:pointer;}

/*首页中间的系列分类*/
.h_jingdian{ float:left;  height:270px; /*margin: 10px 0px 0px 0px;*/overflow:hidden;} /* 48 1 */
.h_jingdian a:hover{ text-decoration:none; }
.h_jingdian img{display: block;}
.h_jingdian span{ display:block; height:32px; width:300px;background:#87d0e3;padding:6px 10px 12px 15px; }
.h_jingdian span p{ overflow: hidden;width:100%; height:20px;font-size: 13px;float:left; display:block;}
.h_ice{ margin-right:-10px;}

/*首页底部商品的展示*/
.h_jingdian .tctu{ height:220px;overflow:hidden;}
.h_jingdian .zstu{ height:270px;overflow:hidden;}
.h_jingdian .zstu img{ transition: all 0.7s ease 0s; -webkit-transition: all 0.7s ease 0s; }
.h_jingdian .zstu img:hover{transform: translateY(-10px);   -ms-transform: translateY(-10px);-webkit-transform: translateY(-10px);
-o-transform: translateY(-10px);-moz-transform: translateY(-10px);}
.h_jingdian .zstu img:hover{transform: scale(1.05, 1.05);-ms-transform: scale(1.05, 1.05);  -webkit-transform: scale(1.05, 1.05);   -o-transform: scale(1.05, 1.05);    -moz-transform: scale(1.05, 1.05)}
.h_jingdian .xx{ height:60px;width: 325px; display:inline-block;background:#87d0e3;}
.h_jingdian .xx p{width:100%;height:20px; padding: 10px 0px 0px 15px;box-sizing: border-box;}
.h_jingdian .tc{ cursor: pointer;height:50px;width: 325px; display:inline-block;background:#87d0e3;} 
.h_jingdian .tc p{box-sizing: border-box;cursor: pointer;padding: 0px 0px 0px 15px;width:100%;height: 29px;line-height: 35px; }
.h_jingdian .tc label{font-size:12px;padding: 0px 0px 0px 15px;cursor: pointer;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .h_jingdian .tc p{height: 28px;line-height: 35px; }
} 